body.helix-ultimate-preloader:after{color: #b7b7b7;}.layout-boxed .body-wrapper{background-color:#b7b7b7}
.layout-boxed .tm-page{background:#FFFFFF;color:#3f485d}
body,.sp-preloader{background-color:#ced4da;color:#3f485d}
.sp-preloader>div{background:#c6ac83}
.sp-preloader>div:after{background:#FFFFFF}
.tm-toolbar-default{background:#b7b7b7;color:#b7b7b7;padding-top: 1%}
.tm-toolbar-default .uk-icon-link,.tm-toolbar-default a{color:#b7b7b7}
.tm-toolbar-default .uk-icon-link:hover,.tm-toolbar-default .uk-icon-link:focus,.tm-toolbar-default .uk-icon-link:active,.tm-toolbar-default a:hover,.tm-toolbar-default a:focus,.tm-toolbar-default a:active{color:#ffffff}
.tm-toolbar-default .uk-subnav>*>:first-child{color:#b7b7b7}
.tm-toolbar-default .uk-subnav>*>a:focus,.tm-toolbar-default .uk-subnav>*>a:hover{color:#ffffff}
.tm-toolbar-default .uk-subnav>.uk-active>a{color:#ffffff}
.tm-header:not(.tm-header-transparent) .uk-logo{color:#020d26}
.tm-header .uk-navbar-container:not(.uk-navbar-transparent){background:#FFFFFF}
.tm-header .uk-navbar-container:not(.uk-light) .uk-logo{color:#020d26}
.tm-header .uk-navbar-container:not(.uk-light) .uk-icon-link,.tm-header .uk-navbar-container:not(.uk-light) .uk-search-toggle{color:#020d26}
.tm-header .uk-navbar-container:not(.uk-light) .uk-icon-link:hover,.tm-header .uk-navbar-container:not(.uk-light) .uk-icon-link:focus,.tm-header .uk-navbar-container:not(.uk-light) .uk-icon-link:active,.tm-header .uk-navbar-container:not(.uk-light) .uk-search-toggle:hover,.tm-header .uk-navbar-container:not(.uk-light) .uk-search-toggle:focus,.tm-header .uk-navbar-container:not(.uk-light) .uk-search-toggle:active{color:#d73719}
.tm-header .uk-navbar-container:not(.uk-light) .tm-contact-info{color:#020d26}
.tm-header .uk-navbar-container:not(.uk-light) .uk-navbar-toggle{color:#020d26}
.tm-header .uk-navbar-container:not(.uk-light) .uk-navbar-toggle:hover,.tm-header .uk-navbar-container:not(.uk-light) .uk-navbar-toggle:focus{color:#d73719}
.tm-header .uk-navbar-container:not(.uk-light) .uk-navbar-toggle.uk-open{color:#d73719}
.tm-header .sp-megamenu-parent li>a,.tm-header .sp-megamenu-parent li>span{color:#020d26}
.tm-header .uk-navbar-nav>li:hover>a,.tm-header .uk-navbar-nav>li>a:focus{color:#d73719}
.tm-header .uk-navbar-nav>li.uk-active>a,.tm-header .uk-navbar-nav>li>a:active,.tm-header .uk-navbar-nav>li>a.uk-open{color:#d73719}
.tm-header .uk-navbar-dropdown-nav>li>a:hover,.tm-header .uk-navbar-dropdown-nav>li>a:focus,.tm-header .uk-navbar-dropdown-nav .uk-nav-sub a:hover,.tm-header .uk-navbar-dropdown-nav .uk-nav-sub a:focus{color:#d73719}
.tm-header .uk-navbar-dropdown-nav>li.uk-active>a,.tm-header .uk-navbar-dropdown-nav .uk-nav-sub li.uk-active>a{color:#d73719}
.tm-header .uk-nav-default>li>a:hover,.tm-header .uk-nav-default>li>a:focus,.tm-header .uk-nav-primary>li>a:hover,.tm-header .uk-nav-primary>li>a:focus{color:#d73719}
.tm-header .uk-nav-default>li.uk-active>a,.tm-header .uk-nav-primary>li.uk-active>a{color:#d73719}
.tm-header .uk-nav-default .uk-nav-sub a:hover,.tm-header .uk-nav-default .uk-nav-sub a:focus,.tm-header .uk-nav-primary .uk-nav-sub a:hover,.tm-header .uk-nav-primary .uk-nav-sub a:focus{color:#d73719}
.tm-header .uk-nav-default .uk-nav-sub li.uk-active>a,.tm-header .uk-nav-primary .uk-nav-sub li.uk-active>a{color:#d73719}
.tm-header .uk-navbar-transparent.uk-light .sp-megamenu-parent>li>a,.tm-header .uk-navbar-transparent.uk-light .sp-megamenu-parent>li>span{color:rgba(255, 255, 255, 0.7)}
.tm-header .uk-navbar-transparent.uk-light .sp-megamenu-parent>li:hover>a{color:rgba(255, 255, 255, 0.9)}.tm-header .uk-navbar-transparent.uk-light .sp-megamenu-parent>li.active>a,.tm-header .uk-navbar-transparent.uk-light .sp-megamenu-parent>li.active:hover>a{color:rgba(255, 255, 255, 0.9)}
.tm-header-mobile .uk-navbar-container:not(.uk-navbar-transparent){background:#FFFFFF}
.tm-header-mobile .uk-logo{color:#4874f8}
.tm-header-mobile .uk-navbar-toggle{color:#020d26}
.tm-header-mobile .uk-navbar-toggle:hover,.tm-header-mobile .uk-navbar-toggle:focus{color:#c6ac83}
.tm-header-mobile .uk-navbar-toggle.uk-open{color:#c6ac83}
.tm-header-mobile .uk-nav-default>li>a,.tm-header-mobile .uk-nav-default .uk-nav-sub a,.tm-header-mobile .uk-offcanvas-bar .uk-close{color:#3f485d}
.tm-header-mobile .uk-nav-default>li>a:hover,.tm-header-mobile .uk-nav-default>li>a:focus,.tm-header-mobile .uk-nav-primary>li>a:hover,.tm-header-mobile .uk-nav-primary>li>a:focus{color:#d73719}
.tm-header-mobile .uk-nav-default>li.uk-active>a,.tm-header-mobile .uk-nav-default>li.active>a,.tm-header-mobile .uk-nav-primary>li.uk-active>a,.tm-header-mobile .uk-nav-primary>li.active>a{color:#d73719}
.tm-header-mobile .uk-nav-default .uk-nav-sub a:hover,.tm-header-mobile .uk-nav-default .uk-nav-sub a:focus,.tm-header-mobile .uk-nav-primary .uk-nav-sub a:hover,.tm-header-mobile .uk-nav-primary .uk-nav-sub a:focus{color:#d73719}
.tm-header-mobile .uk-nav-default .uk-nav-sub li.uk-active>a,.tm-header-mobile .uk-nav-primary .uk-nav-sub li.uk-active>a{color:#d73719}
.tm-header-mobile .uk-button-primary{background-color:#c6ac83}
.tm-header-mobile .uk-button-primary:hover,.tm-header-mobile .uk-button-primary:focus,.tm-header-mobile .uk-button-primary:active{background-color:#b69560}
.tm-headerbar-top{background:#FFFFFF}
.tm-headerbar-bottom{background:#FFFFFF}
.pager>li a{border:1px solid #ededed;color:#3f485d}
.sp-reading-progress-bar{background-color:#c6ac83}
.sp-megamenu-parent>li>a,.sp-megamenu-parent>li>span{color:#020d26}
.sp-megamenu-parent>li:hover>a,.sp-megamenu-parent>li:hover>span{color:#d73719}
.sp-megamenu-parent>li.active>a,.sp-megamenu-parent>li.active:hover>a{color:#d73719}
.sp-megamenu-parent .sp-dropdown .sp-dropdown-inner{background:#FFFFFF}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item>a{color:#020d26}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item>a:hover{color:#d73719}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a{color:#d73719}
.sp-megamenu-parent .sp-mega-group>li>a{color:#020d26}
.btn-primary,.sppb-btn-primary{border-color:#c6ac83;background-color:#c6ac83}
.btn-primary:hover,.sppb-btn-primary:hover{border-color:#c6ac83;background-color:#c6ac83}
ul.social-icons>li a:hover{color:#c6ac83}
.com-content .uk-heading-bullet::before{border-left-color:#c6ac83}
#sp-bottom{background-color:#1a1f25;color:#909aa3}
#sp-bottom .uk-card-title{color:#FFFFFF}
#sp-bottom a:not(.uk-button){color:#FFFFFF}
#sp-bottom a:not(.uk-button):hover,#sp-bottom a:not(.uk-button):active,#sp-bottom a:not(.uk-button):focus{color:#909aa3}
#sp-footer{background-color:#1a1f25;color:#909aa3}
#sp-footer a{color:#FFFFFF}
#sp-footer a:hover,#sp-footer a:active,#sp-footer a:focus{color:#909aa3}
.sp-comingsoon body{background-color:#c6ac83}
.error-code,.coming-soon-number{color:#c6ac83}
.back__top:hover,.back__top:focus{background:#c6ac83}
.com-contact .contact .btn{background-color:#c6ac83}
.com-contact .contact .btn:hover,.com-contact .contact .btn:focus,.com-contact .contact .btn:active{background-color:#c6ac83;border-color:#c6ac83}
.com-contact .contact-miscinfo ul a,.com-contact .contact-miscinfo ol a{color:#c6ac83}
.com-contact .contact-miscinfo ul a:hover,.com-contact .contact-miscinfo ul a:focus,.com-contact .contact-miscinfo ul a:active,.com-contact .contact-miscinfo ol a:hover,.com-contact .contact-miscinfo ol a:focus,.com-contact .contact-miscinfo ol a:active{color:#c6ac83}
#contact-form textarea:focus,#contact-form textarea:active{border-color:#c6ac83}
.uk-card-default{color:#3f485d}
a,.uk-link{color:#c6ac83}
a:hover,a:focus,a:active,.uk-link:hover,.uk-link:focus,.uk-link:active{color:#b69560}
a.uk-link-heading:hover,.uk-link-heading a:hover,.uk-link-toggle:hover .uk-link-heading,.uk-link-toggle:focus .uk-link-heading,.uk-button-link{color:#c6ac83}
.uk-list-primary>::before{color:#c6ac83 !important}
.uk-input:focus,.uk-select:focus,.uk-textarea:focus,.uk-radio:focus,.uk-checkbox:focus,.uk-tab>.uk-active>a{border-color:#c6ac83 !important}
.uk-radio:checked,.uk-checkbox:checked,.uk-checkbox:indeterminate,.uk-radio:checked:focus,.uk-checkbox:checked:focus,.uk-checkbox:indeterminate:focus,.uk-button-primary,.uk-card-primary.uk-card-hover:hover{background-color:#c6ac83}
.uk-button-primary:hover,.uk-button-primary:focus{background-color:#b69560}
.uk-section-primary,.uk-tile-primary,.uk-card-primary,.uk-badge{background:#c6ac83}
.uk-subnav-pill>.uk-active>a{background-color:#c6ac83}
.uk-subnav-pill>.uk-active>a{color:#fff !important}
.uk-text-primary,.uk-text-background{color:#c6ac83 !important}@supports (-webkit-background-clip: text){.uk-text-background{background-color:#c6ac83}}
.uk-background-primary,.uk-marker{background-color:#c6ac83}
.uk-overlay-primary{background:rgba(198, 172, 131, 0.8)}
.uk-accordion-title:hover,.uk-accordion-title:focus,.uk-notification-message-primary{color:#c6ac83}
.uk-button-default{background-color:rgba(255, 255, 255, 0);color:#c6ac83;border-color:#c6ac83}
.uk-button-default:hover,.uk-button-default:focus,.uk-button-default:active{background-color:#c6ac83;border-color:#c6ac83;color:#ffffff}
.uk-dotnav>.uk-active>*,.uk-dotnav>*>:focus,.uk-dotnav>*>:hover{background-color:#c6ac83}
.uk-light #jform_contact_message{background-color:rgba(255, 255, 255, 0.1);color:rgba(255, 255, 255, 0.7);background-clip:padding-box;border-color:rgba(255, 255, 255, 0.2)}
.uk-divider-small::after{border-top-color:#c6ac83}.ui-skillbar{background-color:#c6ac83}
.acym_form input[type="text"]:focus,.acym_form input[type="email"]:focus{border-color:#c6ac83}
.form-control:focus{box-shadow:none;border-color:#c6ac83}
.uk-navbar-nav .sp-dropdown-inner .sp-dropdown-items li.sp-menu-item>a{font-weight:400}
.form-control-feedback{display:block}.invalid{color:#a51f18;border-color:#a51f18}
.uk-notification-message{box-shadow:0 4px 15px rgba(0, 0, 0, 0.07)}
